body {
  background-image: url("../assets/background-image.jpg");
}

main {
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 200px;
}

h1 {
  font-size: 20vw;
  font-weight: 200;
  color: var(--color-black);
}

.decoration {
  width: 80%;
}

h2 {
  font-size: 4vw;
  font-weight: 600;
  color: var(--color-yellow);

  margin-bottom: 30px;
}

.content_instagram {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
}

.content_instagram img {
  width: 25px;
}

.content_instagram p {
  font-size: 20px;
  color: var(--color-yellow);
  font-weight: 800;

  padding-left: 10px;
}

h3 {
  font-size: 4vw;
  font-weight: 900;
  color: var(--color-yellow);
  text-decoration: underline;

  margin-top: 40px;
}
