body {
  /* background-image: url("../assets/background-image.jpg"); */
  background-color: #f8f7f3;
}

main {
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 200px;
}

h1 {
  font-size: 20vw;
  font-weight: 200;
  color: var(--color-black);
}

.decoration {
  width: 80%;
}

h2 {
  font-size: 4vw;
  font-weight: 600;
  color: var(--color-yellow);

  margin-bottom: 30px;
}

.content_instagram {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  cursor: pointer;
}

.content_instagram img {
  width: 25px;
}

.content_instagram a {
  font-size: 20px;
  color: var(--color-yellow);
  font-weight: 800;

  padding-left: 10px;
}

button {
  font-size: 4vw;
  font-weight: 900;
  color: var(--color-yellow);
  text-decoration: underline;

  margin-top: 40px;
  
  padding: 0;

  cursor: pointer;

  border: none;
}

@media (min-width: 768px) {
    h1 {
        font-size: 150px;
    }

    .decoration {
        width: 50%;
    }

    h2 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 30px;
    }
}