body {
  height: 100vh;

  background-color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 170px;
}

h1 {
  font-size: 80px;
  font-weight: 200;
  color: var(--color-black);
}

.decoration {
  width: 80%;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-yellow);

  margin-bottom: 30px;
}

p {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-yellow);

  margin-top: 15px;
}

.content_instagram {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  cursor: pointer;
}

.content_instagram img {
  width: 25px;
}

.content_instagram a {
  font-size: 20px;
  color: var(--color-yellow);
  font-weight: 800;

  padding-left: 10px;
}

#redirection {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-yellow);
  text-decoration: underline;

  margin-top: 20px;

  padding: 0;

  cursor: pointer;

  border: none;

  background-color: var(--color-white);
}

@media (max-width: 321px) {
  #redirection {
    font-size: 13px;
  }
}

@media (min-width: 375px) {
  #redirection {
    font-size: 15px;
  }
}

@media (min-width: 425px) {
  #redirection {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  main {
    width: 80vw;
  }

  h1 {
    font-size: 150px;
  }

  .decoration {
    width: 60%;
  }

  h2 {
    font-size: 30px;
  }

  #redirection {
    font-size: 25px;
  }
}
